$primary: #8AEAFF;
$primary__dark: #215159;
$secondary: #EC4C27;
$tertiary: #F2DB94;

$black: #051015;
$grey__dark: #18181C;
$grey__light: #9E9E9E;
$white: #ffffff;


$darkBlue: #080a51;
$darkBlue20: #cecedc;
$darkBlue30: #b5b6cb;
$darkBlue40: #9c9db9;
$darkBlue50: #8485a8;
$darkBlue60: #6b6c97;
$darkBlue70: #535486;
$darkBlue80: #393b74;
$darkBlue90: #212363;

$magenta: #ff1dc0;
$magenta20: #f8c8df;
$magenta30: #f9b3dc;
$magenta40: #fa9dd8;
$magenta50: #fa87d4;
$magenta60: #fb72cf;
$magenta70: #fc5dcc;
$magenta80: #fd47c8;
$magenta90: #fe33c5;

$yellow: #F4D448;

$success: #02bf51;
$warning: #ffa12e;
$info: $darkBlue70;
$error: #e3180a;

$oldWhite: #f6f2e7;


$defaultBorder: $darkBlue;

$gradientMagentaYellow: linear-gradient(180deg, $magenta 0, $yellow 100%);
